{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <div id="wrapper">
        <div class="inner">
            <!--signIn 페이지-->
            <section id="signIn">
                <div class="formBox">
                    <h1 class="title logo">recommendU</h1>
                    <form action="">
                        <span>아이디</span>
                        <input type="text" placeholder="아이디">
                        <span>비밀번호</span>
                        <input type="password" placeholder="비밀번호">
                        <button type="submit" class="btn btn_login">로그인</button>
                    </form>
                    <p>
                        아직 계정이 없으신가요?
                        <a href="#">회원가입</a>
                    </p>
                </div>
            </section>


            <!--signUp 페이지-->
            <section id="signUp">
                <div class="formBox">
                    <h1 class="title">가입하기</h1>
                    <form action="">
                        <span>이름</span>
                        <input type="text" placeholder="영문 및 한글 조합으로 10자 이내">
                        <span>아이디</span>
                        <input type="text" placeholder="영문, 숫자 포함하여 10자 이내">
                        <span>비밀번호</span>
                        <input type="password" placeholder="영문, 숫자, 특수문자 포함하여 15자 이내">
                        <!--form 완성 안 됐을 때는 disabled. 완성 되면 disabled클래스 없애면 됨-->
                        <button type="submit" class="btn btn_join disabled">회원가입</button>
                    </form>
                    <p>
                        이미 계정이 있으신가요?
                        <a href="#">로그인</a>
                    </p>
                </div>
            </section>
            <section id="main">
                <div class="mainWrap">
                    <div class="submitWrap part">
                        <h3>기업 및 직무 분류 선택</h3>
                        <div class="filter">
                            <div class="cbList">
                                <h4 class="filter-category">기업별</h4>
                                <div class="cb">
                                    <input type="checkbox" id="option">
                                    <label for="option">
                                        <span class="cbText">공공기관 공사협회</span>
                                    </label>
                                </div>
                                <div class="cb">
                                    <input type="checkbox" id="option">
                                    <label for="option">
                                        <span class="cbText">가나다라</span>
                                    </label>
                                </div>
                                <div class="cb">
                                    <input type="checkbox" id="option">
                                    <label for="option">
                                        <span class="cbText">가나다라</span>
                                    </label>
                                </div>
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">기업 상세</h4>
                                <input type="checkbox" id="option">
                                <label for="option">
                                    <span class="cbText">가나다라</span>
                                </label>
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">직무별</h4>
                                <input type="checkbox" id="option">
                                <label for="option">
                                    <span class="cbText">가나다라</span>
                                </label>
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">직무 상세</h4>
                                <input type="checkbox" id="option">
                                <label for="option">
                                    <span class="cbText">데이터 사이언스</span>
                                </label>
                            </div>
                        </div>
                        <h3>내 자소서 입력하기</h3>
                        <div class="question">
                            <textarea name="" id="" placeholder="자소서 문항을 입력하세요.(지원동기, 포부 등)" rows="1" cols="30"
                                maxlength="30"></textarea>
                        </div>
                        <div class="question-contents">
                            <textarea name="" id="" placeholder="자소서 내용을 입력하세요." rows="30" cols="30"
                                class="contents"></textarea>
                        </div>
                        <button type="submit" class="btn">추천받기</button>
                    </div>
                    <div class="listWrap part">
                        <div class="list-column">
                            <h3 class="category">#직무는 다르지만 내용이 비슷한</h3>
                            <div class="list">
                                <div class="item" onClick="popup_open()">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur ad dolorem praesentium accusamus vel alias
                                        pariatur nesciunt exercitationem dolorum accusantium blanditiis deleniti, unde
                                        nostrum!</p>
                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용 제목이 너무 길면 알아서 말줄임표 처리 되니까 걱정마시게나! 하하하하하</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>
                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-column">
                            <h3 class="category">#나와 비슷한 직무</h3>
                            <div class="list">
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur ad dolorem praesentium accusamus vel alias
                                        pariatur nesciunt exercitationem dolorum accusantium blanditiis deleniti, unde
                                        nostrum!</p>
                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용 제목이 너무 길면 알아서 말줄임표 처리 되니까 걱정마시게나! 하하하하하</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>
                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-column">
                            <h3 class="category">#아무튼카테고리</h3>
                            <div class="list">
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur ad dolorem praesentium accusamus vel alias
                                        pariatur nesciunt exercitationem dolorum accusantium blanditiis deleniti, unde
                                        nostrum!</p>
                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용 제목이 너무 길면 알아서 말줄임표 처리 되니까 걱정마시게나! 하하하하하</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>
                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>

                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>

                                </div>
                                <div class="item">
                                    <h4 class="title">요약한 자소서 내용</h4>
                                    <p class="contents">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
                                        ex ea eos beatae, doloribus, tenetur
                                        ad dolorem praesentium accusamus vel alias pariatur nesciunt exercitationem
                                        dolorum accusantium blanditiis deleniti,
                                        unde nostrum!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--아직 추천받기를 안 눌렀거나 검색 결과 데이터 없을 경우 -->
                    <!-- <div class="listWrap part no-data">
                        <p>
                            <b>추천 결과가 없습니다. 🥺</b><br>
                            다른 조건으로 입력하시거나, 추천받기 버튼을 눌러주세요.
                        </p>
                    </div> -->
                </div>
            </section>
        </div>
    </div>
    <div class="popup">
        <div class="contents">

            <h3 class="category">#직무는 다르지만 내용이 비슷한</h3>
            <div class="info">
                <span id="info-company">LG디스플레이</span>
                <span id="info-work">생산관리·공정관리·품질관리</span>
                <div class="info-spec">
                    <span id="info-spec--school">수도권4년</span>
                    <span id="info-spec--major">고분자시스템공학과</span>
                    <span id="info-spec--extra_spec">
                        <p class="detail">학점 3.5/4.5</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">해외경험 2회</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">토익 915</p>
                        <p class="detail">토익 915</p>
                    </span>
                </div>
            </div>
            <div class="text">
                <h4 class="title">자기소개/성장과정/입사동기와 포부</h4>
                <p class="letter">
                    저의 가장 큰 장점은 어떤 환경에서도 쉽게 적응한다는 점입니다. 한국, 뉴질랜드, 미국, 그리고 영국으로 생활환경이 계속 변화되면서 자연스럽게 얻어진 것 같습니다. 또한 생활환경의
                    변화만큼 다양한 배경의 사람들을
                    많이 만나며 누구와도 소통이 가능하다는 것입니다.

                    기본적으로 사람의 심리를 잘 이해하는 편이어서 주변 사람들이 힘들 때 저를 찾곤 합니다. 또한 어렸을 때 나이차이가 많이 나던 친척들과 함께 지냈던 가정환경 때문인지, 어른들과
                    대화하는 것을 좋아하여 그분들의 삶의
                    지혜에 많은 것을 얻고 종종 도전도 받습니다.

                    소통에 대한 이러한 저의 열린 마음에 대해, 주변 사람들은 상대방을 지나치게 배려하는 것이 저의 단점이라고 말하기도 합니다. 저 역시 그러한 지적에 어느 정도 수긍하면서도 절대적인
                    문제가 아닌 상대적인 문제들에
                    있어서는, 사람마다 처해있는 환경에 따라 생각이 달라질 수 있기 때문에 좀 더 이해하고 그 사람 입장에서 생각해 보려 합니다.

                    열린 마음으로 소통을 중요시 하는 저의 생활신조는 제 삶 속에서 괜한 오해나 갈등을 최소화하는데 큰 도움이 되고 있으며 조직 생활에 있어 가장 중요하다고 생각합니다. 또 다른 저의
                    단점은 어떤 일을 할 때에 때때로
                    그 일에 너무 몰두된다는 점입니다.

                    책임감이 강하고 다른 사람들을 실망시키고 싶어 하지 않는 성격을 가지고 있습니다. 때문에 저에게 어떠한 일이 주어지면 그 일에 너무 몰두되는 경향이 있습니다. 일에 몰두되어서
                    주어진 임무를 확실히 끝내는 점은 장점이
                    될 수도 있지만, 과유불급이라는 말이 있듯이 일을 과도하게 하게 되면 스트레스를 받을 수 있습니다.

                    그래서 평소 운동과 여가활동 등을 통해 스트레스를 효과적으로 관리하려는 노력을 하고 있습니다.

                    저는 어릴 때부터 돈 관리 하나는 똑 부러지게 하는 아이였습니다. 부모님과 친척들의 일을 도와드리고, 필요 없는 제 물건들을 팔아 받은 용돈을 관리해 고등학교 졸업 할 당시에는
                    700만원 상당의 금액을 모았었습니다.
                    또한 저의 장점 중에 하나는 수치능력이 좋다는 것입니다.

                    어려서부터 계산이 빠르고 수학과목들에 강점을 가졌습니다. 이러한 저의 적성과 능력을 살리기 위해, 대학 진학을 해서도 숫자와 관련된 재무학과 회계학을 전공했고 재무, 회계, 자금
                    등의 부서에서 근무하는 데 필요한
                    지식을 쌓았습니다. 전공과목들 외에도 10과목 이상의 수학과 경제학 과목들을 수강하며 기본기를 탄탄히 하는 노력을 했습니다.

                    대학교 졸업 이후에 대학원에 진학해 과목들을 수강하고 논문을 쓰면서 회계와 재무지식을 좀 더 심화할 수 있었습니다. 학업 외에 스포츠 활동 등에 활발히 참여했습니다. 팀을 이루어
                    스포츠 활동을 하면서 건전한 경쟁,
                    팀워크의 중요성을 배울 수 있었습니다.

                    그리고 뉴질랜드, 미국, 영국에서 해외생활을 하며 영어실력과 더불어, 다양한 배경의 사람들을 많이 만나면서 소통, 이해, 교류의 과정을 통해 틀림과 다름의 차이점을 알 수
                    있었습니다. 모든 조직은 다양한 사람들이
                    모여 최상의 결과를 만들어 내야 하는 집단이기 때문에 이런 경험은 조직생활에 도움이 될 것이라고 생각합니다.
                    글자수 1,550자
                    2,649Byte
                    그리고 뉴질랜드, 미국, 영국에서 해외생활을 하며 영어실력과 더불어, 다양한 배경의 사람들을 많이 만나면서 소통, 이해, 교류의 과정을 통해 틀림과 다름의 차이점을 알 수
                    있었습니다. 모든 조직은 다양한 사람들이
                    모여 최상의 결과를 만들어 내야 하는 집단이기 때문에 이런 경험은 조직생활에 도움이 될 것이라고 생각합니다.
                    글자수 1,550자
                    2,649Byte그리고 뉴질랜드, 미국, 영국에서 해외생활을 하며 영어실력과 더불어, 다양한 배경의 사람들을 많이 만나면서 소통, 이해, 교류의 과정을 통해 틀림과 다름의 차이점을
                    알 수 있었습니다. 모든 조직은 다양한 사람들이
                    모여 최상의 결과를 만들어 내야 하는 집단이기 때문에 이런 경험은 조직생활에 도움이 될 것이라고 생각합니다.
                    글자수 1,550자
                    2,649Byte그리고 뉴질랜드, 미국, 영국에서 해외생활을 하며 영어실력과 더불어, 다양한 배경의 사람들을 많이 만나면서 소통, 이해, 교류의 과정을 통해 틀림과 다름의 차이점을
                    알 수 있었습니다. 모든 조직은 다양한 사람들이
                    모여 최상의 결과를 만들어 내야 하는 집단이기 때문에 이런 경험은 조직생활에 도움이 될 것이라고 생각합니다.
                    글자수 1,550자
                    2,649Byte그리고 뉴질랜드, 미국, 영국에서 해외생활을 하며 영어실력과 더불어, 다양한 배경의 사람들을 많이 만나면서 소통, 이해, 교류의 과정을 통해 틀림과 다름의 차이점을
                    알 수 있었습니다. 모든 조직은 다양한 사람들이
                    모여 최상의 결과를 만들어 내야 하는 집단이기 때문에 이런 경험은 조직생활에 도움이 될 것이라고 생각합니다.
                    글자수 1,550자
                    2,649Byte그리고 뉴질랜드, 미국, 영국에서 해외생활을 하며 영어실력과 더불어, 다양한 배경의 사람들을 많이 만나면서 소통, 이해, 교류의 과정을 통해 틀림과 다름의 차이점을
                    알 수 있었습니다. 모든 조직은 다양한 사람들이
                    모여 최상의 결과를 만들어 내야 하는 집단이기 때문에 이런 경험은 조직생활에 도움이 될 것이라고 생각합니다.
                    글자수 1,550자
                    2,649Byte
                </p>
            </div>
            <a href="https://helloimyj.notion.site/Design-ccd6b8d2bb264abc84dff7255f33457c" target="_blank">🔗 원본
                확인하기</a>
            <button type="button" class="btn btn_close" onClick="popup_close();">X</button>
        </div>
    </div>
</body>

</html>