{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <div id="wrapper">
        <div class="inner">
            <!--signUp 페이지-->
            <section id="signUp">
                <div class="formBox">
                    <h1 class="title">가입하기</h1>
                    <form action="">
                        <span>아이디</span>
                        <input type="text" placeholder="영문, 숫자 포함하여 10자 이내">
                        <span>비밀번호</span>
                        <input type="password" placeholder="영문, 숫자, 특수문자 포함하여 15자 이내">
                        <span>전공</span>
                        <input type="text" list="majors" placeholder="전공을 선택해주세요">
                        <datalist id="majors">
                            {% for major in majorlist %}
                                {% for contents in major.major_small %}
                                    <option value = {{ contents }}></option>
                                {% endfor %}
                            {% endfor %}
                        </datalist>
                        <span>관심 분야</span>
                        <input type="text" list="jobs" placeholder="영문 및 한글 조합으로 10자 이내">
                        <datalist id="jobs">
                            {% for job in joblist %}
                            <option value = {{ job.job_large }}></option>
                            {% endfor %}
                        </datalist>
                        <span>신입 / 경력 여부</span>
                        <input type="text" list="career" placeholder="영문 및 한글 조합으로 10자 이내">
                        <datalist id="career">
                            <option value = "신입"></option>
                            <option value = "경력"></option>
                        </datalist>
                        <!--form 완성 안 됐을 때는 disabled. 완성 되면 disabled클래스 없애면 됨-->
                        <button type="submit" class="btn btn_join disabled">회원가입</button>
                    </form>
                    <p>
                        이미 계정이 있으신가요?
                        <a href="../../accounts/login">로그인</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</body>

</html>