{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <div id="wrapper">
        <div class="inner">
            <!--signUp 페이지-->
            <section id="signUp">
                <div class="formBox">
                    <h1 class="title">가입하기</h1>
                    <form action="{% url 'accounts:signup' %}" method="POST">
                        {% csrf_token %}
                        <span>아이디</span>
                        <input type="text" placeholder="영문, 숫자 포함하여 10자 이내", maxlength="15" name="username" required id="id_username">
                        <span>비밀번호</span>
                        <input type="password" placeholder="영문, 숫자, 특수문자 포함하여 15자 이내", name="password1" required id="id_password1">
                        <span>비밀번호 확인</span>
                        <input type="password" placeholder="비밀번호를 한번 더 입력해주세요", name="password2" required id="id_password2">
                        <span>전공</span>
                        <input type="text" list="majors" placeholder="전공을 선택해주세요" name="major_small" required id="id_major_small">
                            <datalist id="majors">
                                {% for major in majorlist %}
                                    {% for contents in major.major_small %}
                                        <option value = {{ contents }}></option>
                                    {% endfor %}
                                {% endfor %}
                            </datalist>
                        <span>관심 분야</span>
                        <input type="text" list="jobs" placeholder="영문 및 한글 조합으로 10자 이내" name="interesting_job_large" required id="id_interesting_job_large">
                            <datalist id="jobs">
                                {% for job in joblist %}
                                <option value = {{ job.job_large }}></option>
                                {% endfor %}
                            </datalist>
                        <span>졸업 / 경력 여부</span>
                        <input type="text" placeholder="영문 및 한글 조합으로 10자 이내" name="career_type">
                        <!--form 완성 안 됐을 때는 disabled. 완성 되면 disabled클래스 없애면 됨-->
                        <button type="submit" class="btn btn_join">회원가입</button>
                    </form>
                    <p>
                        이미 계정이 있으신가요?
                        <a href="{% url 'accounts:login' %}">로그인</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</body>

</html>