{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="{% static 'js/index.js' %}"></script>
</head>

{% block content %}
<body>    
    <div id="wrapper">
        <div class="inner">
            <section id="main" style="position:relative">
                {% if request.user.is_authenticated %}
                    <div style="position:flex; display:block">
                        <a href="{% url 'services:main' %}"><img src="{% static 'images/recommend_logo.png' %}" style="position:relative; top:0px; left:40px; z-index:1; margin-bottom:20px; margin-top:20px" width="350px" height="70px" ></a>
                    </div>      
                  <a id="logout-button"  style="position:absolute; top:40px; right:50px; width:65px; height 20px; font-size:20px" href="{% url 'accounts:logout' %}" method="POST">logout</a>
                {% endif %}
                <div class="mainWrap">              
                    <div class="submitWrap part">
                        {% csrf_token %}
                        <h3>기업 및 직무 분류 선택</h3>
                        <div class="filter">
                            <div class="cbList">
                                <h4 class="filter-category">기업검색</h4>
                                <div class="cb">
                                    <input placeholder="기업을 검색하세요" list="company-list" name="company-input" id="company-input">
                                    <datalist id="company-list">
                                    {% for company in companies %}
                                        <option value={{ company.company }} label={{ company.company }}>
                                    {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">직무검색</h4>
                                <br/>
                                {% for job in job_list %}
                                    <div class="cb">
                                        <input type="checkbox" name="job_main" id={{ job.id }} value={{ job.job_small }} onClick="checkOnlyOne(this); job_check(this,{{ job.job_small }},{{ job.job_small_id }});">
                                        <label for={{ job.id }}>
                                            <span class="cbText">{{ job.job_large }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">직무 상세검색</h4>
                                <br/>
                                <div id = 'job_result'></div>
                            </div>
                        </div>
                        <div style="display:flex">
                          <h3>내 자소서 입력하기</h3>
                          <div class="help-tip" id="help-main">
                            <p>
                                RecommendU는
                            <br>직무, 회사, 질문 그리고 작성자의 답변을 고려하여 
                            <br>사용자와 유사한 합격 자기소개서를 추천해드립니다.
                            <br> 
                            <br>❗Tip❗
                            <br>하나, 자소서 문항을 직접 입력할 때 원하는 결과가 나오지 않는다면, 질문을 조금 바꿔보세요. 
                            <br>둘, 직접 입력한 답변이 없거나 너무 짧다면, 답변은 추천 결과에 반영되지 않아요.
                            <br>셋, 만일 직접 입력이 막막하다면 미완성 샘플을 사용해보세요.
                            <br>마지막으로, 합격자소서는 참고용일뿐! 똑같이 따라쓰시면 안되는거 아시죠? 😉

                            </p>                      
                          </div>
                        </div>                                              
                        <div class="question">
                            <select id = "question_list" onChange = "questionDefaultCheck(this.value); explanationChange(this.value);">
                                <option value="none">자소서 문항을 선택하세요.</option>
                                {% for question in question_type %}
                                    <option value = {{ question.question_type_id }}>{{ question.question_type }}</option>
                                {% endfor %}
                                <option value="other">직접입력</option>
                            </select>
                        </div>
                        <div class="question-contents">
                            <textarea name="" id="answers" placeholder="자소서 내용을 입력하세요.&#13;&#10; &#13;&#10;답변이 없어도 추천은 해드리지만, 충분한 답변을 입력하면 나에게 더 맞는 추천을 받을 수 있어요.&#13;&#10; &#13;&#10;만약 당장 글을 쓰기 어렵다면, 우측하단 '💫샘플 자소서 불러오기' 버튼을 클릭해보세요!&#13;&#10;미완성 샘플 자소서를 불러와 드립니다." cols="30"
                                class="contents"></textarea>
                        </div>
                        <button type="submit" id="sample-button" onClick="questionTypeCheck();">💫샘플 자소서 불러오기</button>
                        <button type="submit" id="recommend-button" class="btn" onClick="getUserLogging('{% url 'logs:recbuttonlog' %}'); getRecommentData('{% url 'services:answer_recommend' %}');">추천받기</button>  
                    </div>
                    <div class="listWrap part" id="no-data">
                        <div id="waitMessage" class="listWrap part no-data">
                            <p>
                                <b>추천 결과가 없습니다. 🥺</b><br>
                                다른 조건으로 입력하시거나, 추천받기 버튼을 눌러주세요.
                            </p>
                        </div>
                    </div>
                    <div class="listWrap part" id="exist-data">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var count = 0
    recommendData = ""
    function explanationChange(value){
        const sampleBtn = document.getElementById('answers');
        if (value == "other") {
            sampleBtn.setAttribute('placeholder', '자소서 내용을 입력하세요.\n10자 이상 입력하시면 나에게 더 맞는 추천을 받을 수 있어요.')
        }
    }
     
    async function questionTypeCheck(){
        count = count+1
        const question_type = document.getElementById('question_list').value;
        if (question_type == 'none'){
            alert("질문 카테고리를 선택해야 샘플을 추천받을 수 있습니다.")
        }
        else{
            var samples = {{sample_list|safe}};
            document.getElementById("answers").value = ""
            var now_sample = await JSON.parse(samples[question_type][count%10])
            document.getElementById("answers").value = now_sample['content']
        }
    }
    
    async function getUserLogging(url){
        const company = document.getElementById('company-input').value
        if(company==""){
            alert("관심기업을 선택해주세요.")
            return -1
        }
        
        var questionType = 0
        const query = 'input[name="job_detail"]:checked';
        var jobType =document.querySelectorAll(query)[0];
        if (jobType){
            jobType = document.querySelectorAll(query)[0].id
        }
        else{
            alert("직무 상세검색을 선택해주세요.")
            return -1
        }
        var questionContent = ""

        if(document.getElementById("question_list")){ 
            questionType = document.getElementById('question_list').value;
            if (questionType == 'none'){
                alert("질문을 선택해주세요")
                return -1
            }
        }else{
            questionContent = document.getElementById('question-text').value;
            questionType = 1000023;
        }
        
        const logData = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({
                userId: '{{ request.user }}',  // url 태그와 같은 기능태그는 script태그에서 해석되지 않지만 {{ variable }}과 같은 변수 태그는 해석됨
                company,
                jobType,
                questionType,
                questionContent
            }),
        }
        response = await fetch(url, logData)
        const data = await response.json()
    }

    async function getRecommentData(url){
        const company = document.getElementById('company-input').value;
        if(company==""){
            return -1
        }
        var question_type = 0;
        var question_text = "";
        const render_window = document.querySelector(".listWrap>p")
        render_window.innerHTML = "<b>자기소개서를 가져오고 있어요 🙏🏻</b><br>잠시만 기다려주세요.</p>"
        render_window.setAttribute('class', 'exist-data')

        // 잠시만 기다려주세요 화면 render
        if(document.getElementById("question_list")){
            question_type = document.getElementById('question_list').value;
        }else{
            question_text = document.getElementById('question-text').value;
            question_type = 1000023;
        }
        const query = 'input[name="job_detail"]:checked';
        if (!document.querySelectorAll(query)[0]){
            return -1
        }
        const jobType =document.querySelectorAll(query)[0].id;
        const answer_text = document.getElementById("answers").value;
        const recommend_data = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({  
                company: company,
                jobType: jobType,
                questionType: question_type,
                questionText:question_text,
                content:answer_text,
            }),
        }
        const response = await fetch(url, recommend_data)

        const data = await response.json()
        const no_data = document.getElementById("no-data");
        no_data.classList.add("hide");
        const exist_data = document.getElementById("exist-data");
        exist_data.classList.add("show");

        render_window.setAttribute('class', 'no-data')
        if (data==412){
            alert("질문을 다시 입력해주세요.")
        }
        else{
            makingRecommendList(data);
        }
    }

    
    function makingRecommendList(data) {
        var keys = Object.keys(data)
        tagLen = keys.length
        const a = document.querySelector('#exist-data')
        var tag_name = 7000000
        a.replaceChildren()
        
        // data의 key 순회
        for (let i = 0; i <tagLen; i++){
            var key = keys[i]
            var tag = data[key]
            var listLen = tag.length
            tag_name += 1
            var b = document.createElement('div')
            b.setAttribute('class', `list-column t${tag_name.toString()}`)
            var c1 = document.createElement('h3')
            c1.setAttribute('class', 'category')
            if (i === tagLen-1) {
                var Taghelp = document.createElement('div')
                Taghelp.setAttribute('class', 'help-tip')
                Taghelp.setAttribute('id', 'help-tag')
                var TagP = document.createElement('p')
                TagP.innerText = "🤔 평이 안좋은 자소서가 왜 추천됐나요? \n\n 🤩 #전문가 평이 좋아요의 자소서 문항들과 비교해보세요. \n \t어쩌면 자기소개서를 작성할 때 도움이 될 수 있을 거에요. \n ’원본 확인하기’ 버튼을 클릭하면 전문가의 구체적인 코멘트를 확인할 수 있습니다. \n "
                Taghelp.append(TagP)
                b.append(Taghelp)
            }


            if (i === 0) {
                c1.innerText = '#' + '{{ request.user.username }}' + key
            } else {
                c1.innerText = '#' + key
            }
            
            var c2 = document.createElement('div')
            c2.setAttribute('class', 'list')
            
            for (let j = 0; j<listLen; j++) {
                // 각 key의 answer들 순회
                var answer = tag[j]
                var content_id = answer.answer_id+tag_name.toString()
                var d1 = document.createElement('div')
                d1.setAttribute('class', 'item')
                d1.setAttribute('onClick', `popup_open(${content_id}); getAnswerLog(${ content_id }, '{% url "logs:answerlog" %}'); checkStatus('{{ request.user.username }}', ${content_id}, 't'+${tag_name.toString()}, '{% url "services:check_status" %}')`)
                var d_title = document.createElement('h4')
                d_title.setAttribute('class', 'title')
                d_title.innerText = answer.question
                var d_company = document.createElement('h4')
                d_company.setAttribute('class', 'company')
                d_company.innerText = answer.company + ' · ' + answer.job_small
                var d_content = document.createElement('p')
                d_content.setAttribute('class', 'contents')
                d_content.innerText = answer.summary
                var d2 = document.createElement('div')
                d2.setAttribute('class', 'popup')
                d2.setAttribute('id', `${content_id}`)
                var e = document.createElement('div')
                e.setAttribute('class', 'contents')
                var f1 = document.createElement('h3')
                f1.setAttribute('class', 'category')
                f1.setAttribute('name', tag_name)
                if (i === 0) {
                    f1.innerText = '#' + '{{ request.user.username }}' + key
                } else {
                    f1.innerText = '#' + key
                }
                var f2 = document.createElement('div')
                f2.setAttribute('class', 'info')
                var f3 = document.createElement('div')
                f3.setAttribute('class', 'text')
                var g1 = document.createElement('span')
                var f4 = document.createElement('a')
                f4.setAttribute('href', answer.document_url)
                f4.setAttribute('target', '_blank')
                f4.innerHTML="🔗 원본 확인하기"
                var f5 = document.createElement('button')
                f5.setAttribute('type', 'button')
                f5.setAttribute('class', 'btn btn_close')
                f5.setAttribute('onClick', `popup_close(${content_id})`)
                f5.innerText = 'X'
                var f6 = document.createElement('button')
                f6.setAttribute('type', 'button')
                f6.setAttribute('class', 'btn btn_good')
                f6.setAttribute('id', 'btn_good'+answer.answer_id)
                f6.setAttribute('value',answer.user_good_cnt)
                f6.setAttribute('onClick',`getUserGood(${content_id},${answer.user_good_cnt},'t'+${tag_name.toString()},'{% url "logs:evallog" %}')`)
                f6.innerText = '👍 '+answer.user_good_cnt
                var f7 = document.createElement('button')
                f7.setAttribute('type', 'button')
                f7.setAttribute('class', 'btn btn_bad')
                f7.setAttribute('id', 'btn_bad'+answer.answer_id)
                f7.setAttribute('value',answer.user_bad_cnt)
                f7.setAttribute('onClick',`getUserBad(${content_id},${answer.user_bad_cnt}, 't'+${tag_name.toString()},'{% url "logs:evallog" %}')`)
                f7.innerText = '👎 '+answer.user_bad_cnt
                g1.setAttribute('id', 'info-company')
                g1.setAttribute('style', 'display:inline; margin-bottom:2px;')
                g1.innerText = answer.company
                var markDiv = document.createElement('div')
                markDiv.setAttribute('id', 'bookmark'+content_id.slice(0,7))
                markDiv.setAttribute('style', 'position:flex')
                var markImg = document.createElement('img')
                var markA = document.createElement('a')
                markA.setAttribute('id', 'markA'+content_id.slice(0,7))
                markA.setAttribute('onClick', `fillMark(${content_id}, 't'+${tag_name.toString()}, '{% url "logs:userscrap" %}')`)
                markA.setAttribute('style', 'display:inline; cursor: pointer;')
                markImg.setAttribute('id', 'markImg'+content_id.slice(0,7))
                markImg.setAttribute('class', 'mark-empty')
                markImg.setAttribute('src', '/static/images/mark-empty.png')
                var g2 = document.createElement('span')
                g2.setAttribute('id', 'info-work')
                g2.innerText = answer.job_small
                var g3 = document.createElement('div')
                g3.setAttribute('class','info-spec')
                var g4 = document.createElement('h4')
                g4.setAttribute('class', 'title')
                g4.innerText = answer.question
                var g5 = document.createElement('p')
                g5.setAttribute('class', 'letter')
                g5.innerText = answer.content
                var h1 = document.createElement('span')
                h1.setAttribute('id', 'info-spec--school')
                h1.innerText = answer.schooltype
                var h2 = document.createElement('span')
                h2.setAttribute('id', 'info-spec--major')
                h2.innerText = answer.major_small
                var h3 = document.createElement('span')
                h3.setAttribute('id', 'info-spec--extra_spec')
                var spec_array = answer.spec.slice(1,-1).split(',')
                for (let k = 0; k<spec_array.length; k++){
                    var content = document.createElement('p')
                    content.setAttribute('class', 'detail')
                    content.innerText = spec_array[k]
                    h3.append(content)
                }
                var helpDiv = document.createElement('div')
                helpDiv.setAttribute('class', 'help-tip')
                helpDiv.setAttribute('id', 'help-answer')
                var helpP = document.createElement('p')
                helpP.innerText = "<북마크 아이콘>\n 자소서 답변이 맘에 든다면, 북마크를 클릭해보세요.\n 마이페이지에서 북마크한 답변들을 확인할 수 있습니다(구현 예정).\n\n <좋아요 / 별로에요>\n 이 답변이 괜찮았다면 👍🏻를, 별로였다면 👎🏻를 눌러주세요."
                helpDiv.append(helpP)

                g3.append(h1, h2, h3)
                markA.append(markImg)
                markDiv.append(g1, markA, helpDiv)
                f3.append(g4, g5)
                f2.append(markDiv, g2, g3)
                e.append(f1, f2, f3, f4, f5, f6, f7)
                d2.append(e)
                d1.append(d_company, d_title, d_content)
                c2.append(d1, d2)
            }
            b.append(c1, c2)
            a.append(b)
        }
    }
    
    
    async function checkStatus(username, contentId, tagId, url) {
        const answerId = contentId.id.slice(0, 7)
        const markImg = document.querySelector('.'+tagId+' #markImg'+answerId);
        const goodBtn = document.querySelector("."+tagId+" #btn_good"+answerId)
        const badBtn = document.querySelector("."+tagId+" #btn_bad"+answerId)

        const markData = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({ 
                user_id: username,
                answer_id: answerId
            })
        }
        const response = await fetch(url, markData)
        const dataString = await response.json()
        const data = JSON.parse(dataString)

        const goodCnt = data["goodCnt"]
        const badCnt = data["badCnt"]
        const isBoth = data["both"]
        const isScrap = data["isScrap"]
        const isEval = data["isEval"]
        

        // 카운트 설정
        goodBtn.setAttribute('value', goodCnt)
        goodBtn.innerHTML = '👍🏻 ' + goodCnt.toString()
        badBtn.setAttribute('value', badCnt)
        badBtn.innerHTML = '👎🏻 ' + badCnt.toString()
       
        // 스크랩 버튼 초기화
        if (isScrap) {
            markImg.setAttribute('class', 'mark-fill')
            markImg.setAttribute('src', '/static/images/mark-fill.png')
        } else {
            markImg.setAttribute('class', 'mark-empty')
            markImg.setAttribute('src', '/static/images/mark-empty.png')            
        }
    }


    function getAnswerLog(answer_id, url){
        const user_id = '{{ request.user }}';
        const content_id = answer_id.id;
        const rec_type =document.querySelector('#'+content_id+' .category').getAttribute('name');
        const answer_data = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({  
                userId: user_id,  
                contentId: content_id.slice(0,7),
                recType: rec_type,
            }),
        }
        fetch(url, answer_data)
        .then((res) => res.json())
        .catch((error)=> console.log('error 발생'));
    }
    
    async function getUserGood(contents_id,cnt,tagId,url){
        const user_id = '{{ request.user }}';
        const content_id = contents_id.id.slice(0,7)
        var btn_good = document.querySelector("."+tagId+" #btn_good"+content_id)
        var btn_bad = document.querySelector("."+tagId+" #btn_bad"+content_id)
        const good = Number(btn_good.getAttribute('value')) + 1
        var bad = Number(btn_bad.getAttribute('value'))
        const user_good = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({
                userId: user_id, 
                contentId: content_id,
                goodCnt: good,
                badCnt:bad,
                favor:1,
            }),
        }
        const response = await fetch(url, user_good)
        const data = await response.json()
        if (data==201){
            btn_good.innerHTML = '👍🏻 '+good
            btn_good.value = good
        }
        else if(data==301){
            bad = bad-1
            btn_bad.innerHTML = '👎🏻 '+bad
            btn_bad.value = bad
            btn_good.innerHTML = '👍🏻 '+good
            btn_good.value = good
        }
        else{
            alert("이미 좋아요를 누른 자소서입니다.")
        }
    }

    async function getUserBad(contents_id,cnt,tagId,url){
        const user_id = '{{ request.user }}';
        const content_id = contents_id.id.slice(0,7)
        var btn_good = document.querySelector("."+tagId+" #btn_good"+content_id)
        var btn_bad = document.querySelector("."+tagId+" #btn_bad"+content_id)
        var good = Number(btn_good.getAttribute('value'))
        const bad = Number(btn_bad.getAttribute('value')) + 1
        const user_bad = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({ 
                userId: user_id, 
                contentId: content_id,
                goodCnt: good,
                badCnt:bad,
                favor:0,
            }),
        }
        const response = await fetch(url, user_bad)
        const data = await response.json()
        if (data==201){
            btn_bad.innerHTML = '👎🏻 '+bad
            btn_bad.value = bad
        }
        else if(data==301){
            good = good-1
            btn_bad.innerHTML = '👎🏻 '+bad
            btn_bad.value = bad
            btn_good.innerHTML = '👍🏻 '+good
            btn_good.value = good
        }
        else{
            alert("이미 별로에요를 누른 자소서입니다.")
        }
    }   


    async function fillMark(answerTag, tagId, url) {
        const answerId = answerTag.id.slice(0, 7)
        const markImg = document.querySelector('.'+tagId+' #markImg'+answerId);
        const userId = '{{ request.user }}';
        
        const markData = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({ 
                user_id: userId,
                answer_id: answerId
            })
        }
        const response = await fetch(url, markData)
        if (response.status === 201) {
            markImg.setAttribute('class', 'mark-fill')
            markImg.setAttribute('src', '/static/images/mark-fill.png')
        } else if (response.status === 200) {
            markImg.setAttribute('class', 'mark-empty')
            markImg.setAttribute('src', '/static/images/mark-empty.png')
        }
    }


</script> 
{% endblock %}
