{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>

{% block content %}
<body>
    <div id="wrapper">
        <div class="inner">
            <section id="main">
                <div class="mainWrap">
                    <div class="submitWrap part">
                        {% csrf_token %}
                        <h3>기업 및 직무 분류 선택</h3>
                        <div class="filter">
                            <div class="cbList">
                                <h4 class="filter-category">기업검색</h4>
                                <div class="cb">
                                    <input list="company-list" name="company-input" id="company-input">
                                    <datalist id="company-list">
                                    {% for company in companies %}
                                        <option value={{ company.company }} label={{ company.company }}>
                                    {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">직무검색</h4>
                                <br/>
                                {% for job in job_list %}
                                    <div class="cb">
                                        <input type="checkbox" name="job_main" id={{ job.id }} value={{ job.job_small }} onClick="checkOnlyOne(this); job_check(this,{{ job.job_small }},{{ job.job_small_id }});">
                                        <label for={{ job.id }}>
                                            <span class="cbText">{{ job.job_large }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="cbList">
                                <h4 class="filter-category">직무 상세검색</h4>
                                <br/>
                                <div id = 'job_result'></div>
                            </div>
                        </div>
                        <h3>내 자소서 입력하기</h3>
                        <div class="question">
                            <select id = "question_list" onChange = "questionDefaultCheck(this.value)">
                                <option value="none">자소서 문항을 선택하세요.</option>
                                {% for question in question_type %}
                                    <option value = {{ question.question_type_id }}>{{ question.question_type }}</option>
                                {% endfor %}
                                <option value="other">직접입력</option>
                            </select>
                        </div>
                        <div class="question-contents">
                            <textarea name="" id="answers" placeholder="자소서 내용을 입력하세요." cols="30"
                                class="contents"></textarea>
                        </div>
                        <button type="submit" id="sample-button" onClick="questionTypeCheck()">샘플받기</button>
                        <button type="submit" id="recommend-button" class="btn" onClick="listShow(); getUserLogging('{% url 'logs:recbuttonlog' %}'); getRecommentData();">추천받기</button>  
                    </div>
                    <div class="listWrap part" id="no-data">
                        <div class="listWrap part no-data">
                            <p>
                                <b>추천 결과가 없습니다. 🥺</b><br>
                                다른 조건으로 입력하시거나, 추천받기 버튼을 눌러주세요.
                            </p>
                        </div>
                    </div>
                    <div class="listWrap part" id="exist-data">
                        <div class="list-column">
                            <h3 class="category">#직무는 다르지만 내용이 비슷한</h3>
                            <div class="list">
                                {% for answer in answer_list %}
                                    <div class="item" onClick="popup_open({{ answer.answer_id }}); getAnswerLog({{ answer.answer_id }});">
                                        <h4 class="title">{{ answer.question }}</h4>
                                        <p class="contents">{{ answer.summary }}</p>
                                    </div>
                                    <div class="popup" id = {{ answer.answer_id }}>
                                        <div class="contents">
                                            <h3 class="category">#직무는 다르지만 내용이 비슷한</h3>
                                            <div class="info">
                                                <span id="info-company">{{ answer.company }}</span>
                                                <span id="info-work">{{ answer.job_small }}</span>
                                                <div class="info-spec">
                                                    <span id="info-spec--school">{{ answer.schooltype }}</span>
                                                    <span id="info-spec--major">{{ answer.major_small }}</span>
                                                    <span id="info-spec--extra_spec">
                                                        <p class="detail">{{ answer.spec }}</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">{{ answer.question }}</h4>
                                                <p class="letter">{{ answer.content }}</p>
                                            </div>
                                            <a href={{ answer.document_url }} target="_blank">🔗 원본
                                                확인하기</a>
                                            <button type="button" class="btn btn_close" onClick="popup_close({{ answer.answer_id }});">X</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                        <div class="list-column">
                            <h3 class="category">#나와 비슷한 직무</h3>
                            <div class="list">
                                {% for answer2 in answer_list2 %}
                                    <div class="item" onClick="popup_open({{ answer2.answer_id }})">
                                        <h4 class="title">{{ answer2.question }}</h4>
                                        <p class="contents">{{ answer2.summary }}</p>
                                    </div>
                                    <div class="popup" id = {{ answer2.answer_id }}>
                                        <div class="contents">
                                            <h3 class="category">#직무는 다르지만 내용이 비슷한</h3>
                                            <div class="info">
                                                <span id="info-company">{{ answer2.company }}</span>
                                                <span id="info-work">{{ answer2.job_small }}</span>
                                                <div class="info-spec">
                                                    <span id="info-spec--school">{{ answer2.schooltype }}</span>
                                                    <span id="info-spec--major">{{ answer2.major_small }}</span>
                                                    <span id="info-spec--extra_spec">
                                                        <p class="detail">{{ answer2.spec }}</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">{{ answer2.question }}</h4>
                                                <p class="letter">{{ answer2.content }}</p>
                                            </div>
                                            <a href={{ answer2.document_url }} target="_blank">🔗 원본
                                                확인하기</a>
                                            <button type="button" class="btn btn_close" onClick="popup_close({{ answer2.answer_id }});">X</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="list-column">
                            <h3 class="category">#아무튼카테고리</h3>
                            <div class="list">
                                {% for answer in answer_list3 %}
                                    <div class="item" onClick="popup_open({{ answer.answer_id }})">
                                        <h4 class="title">{{ answer.question }}</h4>
                                        <p class="contents">{{ answer.summary }}</p>
                                    </div>
                                    <div class="popup" id = {{ answer.answer_id }}>
                                        <div class="contents">
                                            <h3 class="category">#직무는 다르지만 내용이 비슷한</h3>
                                            <div class="info">
                                                <span id="info-company">{{ answer.company }}</span>
                                                <span id="info-work">{{ answer.job_small }}</span>
                                                <div class="info-spec">
                                                    <span id="info-spec--school">{{ answer.schooltype }}</span>
                                                    <span id="info-spec--major">{{ answer.major_small }}</span>
                                                    <span id="info-spec--extra_spec">
                                                        <p class="detail">{{ answer.spec }}</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4 class="title">{{ answer.question }}</h4>
                                                <p class="letter">{{ answer.content }}</p>
                                            </div>
                                            <a href={{ answer.document_url }} target="_blank">🔗 원본
                                                확인하기</a>
                                            <button type="button" class="btn btn_close" onClick="popup_close({{ answer.answer_id }});">X</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var count = 0
    function questionTypeCheck(){
        const question_type = document.getElementById('question_list').value;
        var sample_list = "{{sample_list}}".replace(/&#x27;/g,"\"");
        sample_list = sample_list.replace(/&quot;/g, "\"")
        var samples = JSON.parse(sample_list);
        count = count+1
        document.getElementById("answers").value = ""
        document.getElementById("answers").value = samples[question_type][count % 10]['content']
    }
    
    function getUserLogging(url){
        const company = document.getElementById('company-input').value;
        const questionOptions = document.getElementById('question_list');
        const questionType = questionOptions.options[questionOptions.selectedIndex].value;
        const query = 'input[name="job_detail"]:checked';
        const jobType =document.querySelectorAll(query)[0].id;
        const logData = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({
                userId: '{{ request.user }}',  // url 태그와 같은 기능태그는 script태그에서 해석되지 않지만 {{ variable }}과 같은 변수 태그는 해석됨
                company,
                jobType,
                questionType
            }),
        }
        console.log(logData.body)
        fetch(url, logData)
        .then((res) => res.json())
        .then((data) => console.log(data))
        .catch(()=> console.log('error 발생'));
    }

    function getRecommentData(){
        const company = document.getElementById('company-input').value;
        var question_type = 0;
        var question_text = "";
        if(document.getElementById("question_list")){
            question_text = document.getElementById('question_list').value;
        }else{
            question_text = document.getElementById('question-text').value;
            question_type = 1;
        }
        const query = 'input[name="job_detail"]:checked';
        const jobType =document.querySelectorAll(query)[0].id;
        const answer_text = document.getElementById("answers").value;
        const recommend_data = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({  
                company: company,
                job_type: jobType,
                question_type: question_type,
                question_text:question_text,
                answer:answer_text,
            }),
        }
        fetch("../?", recommend_data)
        .then((res) => res.json())
        .then((data) => console.log(data))
        .catch((res)=> console.log(error));
    }
    function getAnswerLog(answer_id){
        const user_id = "dbstjd0924";
        const content_id = answer_id.id;
        const rec_type =document.querySelector('#'+content_id+' .category').innerHTML;
        const answer_data = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({  
                userId: user_id,  
                contentId: content_id,
                recType: rec_type,
            }),
        }
        /*
        fetch("../../logs/answerlog/", answer_data)
        .then((res) => res.json())
        .then((data) => console.log(data))
        .catch((res)=> console.log(error));
        */
    }
</script> 
{% endblock %}